<h2><%= t('string.length.title') %></h2>

<p><%= t('string.length.description') %></p>

<div class="my-6 text-black">
  <%= form_for new_tool_string_length_path, method: 'POST' do %>
    <%= text_area(:tool, :input) %>
    <%= submit_tag(t :use_tool) %>
  <% end %>
</div>

<% if @output %>
  <%= t('string.length.length') %>: <%= @output %>
<% end %>
