<h2 class="text-2xl"><%= t('convert.bin_hex.title') %></h2>

<p class="text-gray-500"><%= t('convert.bin_hex.description') %></p>

<div class="mt-6">
  <%= form_for :length, method: 'POST' do %>

    <%= render 'partials/tool-alerts' %>

    <textarea rows="5" id="tool_input" name="tool[input]" required
      class="w-full p-3 mb-3 rounded bg-gray-900 border border-black text-white"
    ><%= defined?(@tool) ? @tool.input : '' %></textarea>

    <%= render 'component/submit', text: t('convert.bin_hex.bin_to_hex'), name: 'tool[operation]', value: 'bin-to-hex' %>
    <%= render 'component/submit', text: t('convert.bin_hex.hex_to_bin'), name: 'tool[operation]', value: 'hex-to-bin' %>
  <% end %>
</div>

<% if @output %>
  <div class="mt-6">
    <label for="output" class="inline-block mb-2"><%= t :output %></label>
    <textarea id="output" rows="5" class="w-full p-3 mb-3 rounded bg-gray-900 border border-black text-white"
    ><%= @output %></textarea>
  </div>
<% end %>
