<!DOCTYPE html>
<html>
<head>
  <title><%= t 'meta_title' %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body class="bg-gray-900 text-gray-500">
  <div class="container mx-auto">
    <%= render "partials/nav" %>
    <%= yield %>
  </div>
</body>
</html>
